---
http_interactions:
- request:
    method: post
    uri: https://ecs.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"clusterName":"cluster_for_service_spec"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerServiceV20141113.CreateCluster
      X-Amz-Date:
      - 20170702T145640Z
      X-Amz-Content-Sha256:
      - 7b0fc90980885dae00842fc2e1c523267d7cc584e2a0f50f4bad1084d246a663
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIITSQKF65OBAYC7A/20170702/eu-west-1/ecs/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date;x-amz-target,
        Signature=23a806f03bbfd7888a1ad0422c2813e2c31908d09f3d20e4c9bfa50f5eaea06a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - a7df9575-5f36-11e7-875f-e36e59160c55
    body:
      encoding: UTF-8
      string: '{"cluster":{"activeServicesCount":0,"clusterArn":"arn:aws:ecs:eu-west-1:466565482925:cluster/cluster_for_service_spec","clusterName":"cluster_for_service_spec","pendingTasksCount":0,"registeredContainerInstancesCount":0,"runningTasksCount":0,"status":"ACTIVE"}}'
  recorded_at: Sun, 02 Jul 2017 14:56:40 GMT
- request:
    method: post
    uri: https://autoscaling.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeLaunchConfigurations&LaunchConfigurationNames.member.1=ec-deploy-test&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170702T145640Z
      X-Amz-Content-Sha256:
      - 02e5d21313066d2ed666ee1b24de6b9ec3b5e7138fd10fb3c5c4d01e32b74465
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIITSQKF65OBAYC7A/20170702/eu-west-1/autoscaling/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=815e0feaa788c10e16f416df1447fc03321439d14db73a405d06c6a11bcc6a86
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a80e6e50-5f36-11e7-b508-3d51da349f3c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeLaunchConfigurationsResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeLaunchConfigurationsResult>
            <LaunchConfigurations>
              <member>
                <KernelId/>
                <RamdiskId/>
                <EbsOptimized>false</EbsOptimized>
                <UserData>IyEvYmluL2Jhc2gKZWNobyBFQ1NfQ0xVU1RFUj1lY3MtZGVwbG95LXdlcmNr
        ZXItc3RlcCA+PiAvZXRjL2Vjcy9lY3MuY29uZmlnCg==
        </UserData>
                <ImageId>ami-809f84e6</ImageId>
                <BlockDeviceMappings/>
                <ClassicLinkVPCSecurityGroups/>
                <InstanceType>t2.micro</InstanceType>
                <KeyName>uprising-software-com</KeyName>
                <LaunchConfigurationARN>arn:aws:autoscaling:eu-west-1:466565482925:launchConfiguration:ed6cd095-392f-458a-98ec-9448c49e1d51:launchConfigurationName/ec-deploy-test</LaunchConfigurationARN>
                <IamInstanceProfile>ecsInstanceRole</IamInstanceProfile>
                <LaunchConfigurationName>ec-deploy-test</LaunchConfigurationName>
                <CreatedTime>2017-07-02T14:29:15.510Z</CreatedTime>
                <SecurityGroups>
                  <member>sg-1364a06b</member>
                </SecurityGroups>
                <InstanceMonitoring>
                  <Enabled>true</Enabled>
                </InstanceMonitoring>
              </member>
            </LaunchConfigurations>
          </DescribeLaunchConfigurationsResult>
          <ResponseMetadata>
            <RequestId>a80e6e50-5f36-11e7-b508-3d51da349f3c</RequestId>
          </ResponseMetadata>
        </DescribeLaunchConfigurationsResponse>
  recorded_at: Sun, 02 Jul 2017 14:56:41 GMT
- request:
    method: post
    uri: https://autoscaling.eu-west-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAutoScalingGroups&AutoScalingGroupNames.member.1=ecs-deploy-test&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20170702T145641Z
      X-Amz-Content-Sha256:
      - 0bddd4798a5645749d61ecb178c3cb2daad4af49cb0653770d4f2282394ed07a
      Authorization:
      - AWS4-HMAC-SHA256 Credential=AKIAIITSQKF65OBAYC7A/20170702/eu-west-1/autoscaling/aws4_request,
        SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date, Signature=3cc63e9b7dff70c4eedd1b000743d692919d690e803984df381024f26e44f04c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a82f150e-5f36-11e7-8b76-b336171985b6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeAutoScalingGroupsResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeAutoScalingGroupsResult>
            <AutoScalingGroups>
              <member>
                <HealthCheckType>EC2</HealthCheckType>
                <LoadBalancerNames/>
                <Instances>
                  <member>
                    <LaunchConfigurationName>ec-deploy-test</LaunchConfigurationName>
                    <LifecycleState>InService</LifecycleState>
                    <InstanceId>i-004b7fc3cc4348a44</InstanceId>
                    <HealthStatus>Healthy</HealthStatus>
                    <ProtectedFromScaleIn>false</ProtectedFromScaleIn>
                    <AvailabilityZone>eu-west-1a</AvailabilityZone>
                  </member>
                </Instances>
                <TerminationPolicies>
                  <member>Default</member>
                </TerminationPolicies>
                <DefaultCooldown>300</DefaultCooldown>
                <AutoScalingGroupARN>arn:aws:autoscaling:eu-west-1:466565482925:autoScalingGroup:0e29f09f-c7b5-4c8e-b207-7d34edfbe0ab:autoScalingGroupName/ecs-deploy-test</AutoScalingGroupARN>
                <EnabledMetrics/>
                <AvailabilityZones>
                  <member>eu-west-1a</member>
                </AvailabilityZones>
                <MaxSize>1</MaxSize>
                <TargetGroupARNs/>
                <Tags/>
                <LaunchConfigurationName>ec-deploy-test</LaunchConfigurationName>
                <AutoScalingGroupName>ecs-deploy-test</AutoScalingGroupName>
                <HealthCheckGracePeriod>0</HealthCheckGracePeriod>
                <NewInstancesProtectedFromScaleIn>false</NewInstancesProtectedFromScaleIn>
                <CreatedTime>2017-07-02T14:29:16.445Z</CreatedTime>
                <MinSize>1</MinSize>
                <SuspendedProcesses/>
                <DesiredCapacity>1</DesiredCapacity>
                <VPCZoneIdentifier>subnet-8216b0e5</VPCZoneIdentifier>
              </member>
            </AutoScalingGroups>
          </DescribeAutoScalingGroupsResult>
          <ResponseMetadata>
            <RequestId>a82f150e-5f36-11e7-8b76-b336171985b6</RequestId>
          </ResponseMetadata>
        </DescribeAutoScalingGroupsResponse>
  recorded_at: Sun, 02 Jul 2017 14:56:41 GMT
recorded_with: VCR 3.0.3
